{%extends 'base.html'%} {% block content %}{% load bootstrap4 %} {{form.media}} {% load static %} {% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/business.css'%}"> {% endblock %}
<div class="container" style="padding-top: 10%">
    <h1>
        <strong>Businesses</strong>
    </h1>
    {{form.media}}

    <form action="{%url 'business' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%} {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
    </form>


</div> {%endblock%}