{%extends 'base.html'%} {% block content %} {% load bootstrap4 %}{% load static%}{{ block.super}} {% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/viewservices.css' %}"> {% endblock %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        {% if services %}{% for service in services %}
        <div class="col-md-8 col-lg-7">

            <!-- Preheading -->
            <h1 class="text-white text-muted text-uppercase text-center text-sm" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="entered">
                {{ service.police_station}}
            </h1>

            <!-- Heading -->
            <h3 class="text-center mb-4" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="entered">
                {{ service.police_no }}
            </h3>

            <!-- Subheading -->
            <p class="lead text-white text-muted text-center mb-5" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="entered">
                {{service.police_location}}
            </p>
        </div>
        <div class="col-md-8 col-lg-7">

            <!-- Preheading -->
            <h1 class="text-white text-muted text-uppercase text-center text-sm" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="entered">
                {{ service.healthcare_centre}}
            </h1>

            <!-- Heading -->
            <h3 class="text-center mb-4" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="entered">
                {{ service.healthcare_no }}
            </h3>

            <!-- Subheading -->
            <p class="lead text-white text-muted text-center mb-5" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="entered">
                {{service.healthcare_location}}
            </p>
        </div>
        {% endfor %} {% endif %}
    </div>
    <!-- / .row -->
</div>{% endblock %}
<!-- / .container -->